<div class="row">
    <div class="col-sm-8 mx-auto">
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-sm-6">
                <h1>#</h1>
            </div>
            <div class="col-sm-6 text-right">
                <h3 class="text-muted"><span class="text-warning">#</h3>
            </div>
        </div>

        <div class="card p-3 mb-3">
            <h2 class="text-warning text-center">#</h2>
            <div class="col-md-6 mt-3 mb-5 mx-auto">
                <%= link_to "Learn","#",class:"btn btn-primary" %>
                <%= link_to "Learn","#",class:"btn btn-primary" %>
                <%= link_to "Learn","#",class:"btn btn-primary" %>
            </div>
        </div>
    </div>
</div>