<nav class="navbar bg-primary navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">Aels</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
            <a class="nav-link" href="C:\Users\user\Desktop\html+css\bootstrap.html">Sign up <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="C:\Users\user\Desktop\html+css\garary.html">Log in</a>
        </li>
        <li class="nav-item ">
                <a class="nav-link" href="C:\Users\user\Desktop\html+css\about_blogspot.html">Dashbord <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="C:\Users\user\Desktop\html+css\any_feedback.html">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="C:\Users\user\Desktop\html+css\any_feedback.html">Members</a>
            </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            User
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Profile</a>
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="#">Log out</a>
            <a class="dropdown-item" href="#">Manage categories</a>
        </li>
        </ul>
    </div>
</nav>
